img {
    width: 290px;
    float: left;   
}

body {
    font-family: "Century Gothic";
    background-image: url("Background.png");
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: "Gabriola";
    color: rgb(167, 18, 134); 
    margin-bottom: -2%; 
    text-indent: 24.5%;
  
}

.Box
    {
    float: right;
    padding:1%;
    width: 74%;
    border: solid rgb(167, 18, 134);
    margin-bottom: 0%;
}

.Box2
    {
    float: right;
    padding:2%;
    width: 95.5%;
    border: solid rgb(167, 18, 134);
}

span.Contact {
color: rgb(167, 18, 134);
}