img {
    width: 300px;
    float: left;   
}

body {
    font-family: "Century Gothic";
    background-image: url("Background.png");
}

h1 {
    font-size: 60px;
    text-align: right;
    font-family: "Gabriola";
    color: rgb(138, 7, 110);  
}

.Box
    {
    float: right;
    padding :2%;
    width: 70%;
    border: solid rgb(167, 18, 134);
}

.Box2
    {
    float: right;
    padding:2%;
    width: 95%;
    border: solid rgb(167, 18, 134);
}