img {
    width: 300px;   
}

body {
    font-family: "Century Gothic";
    background-image: url("Background.png");
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: "Gabriola";
    color: rgb(138, 7, 110);
    
}
